<h1>These are our users</h1>
<ul>
<!-- show a list of all the users -->
	<% @users.each do |user| %>

	<li> 
		<%= user.name %>
	</li>



<% end %>
	<h1>make their name link to their pick</h1>


</ul>